*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body,#root{
  width: 100%;
  background-color: black;
}

section{
  /* border: 1px solid white; */
  min-height: 100vh;
  z-index: 10px;
  color:white;
  position: relative;
}